* {
    padding: 0;
    margin: 0;
}

body {
    width: 100vw;
    height: 100vh;
    background-color:  rgb(41, 39, 39);
    color: white;
    font-family: 'Quicksand', sans-serif;
    font-weight: 300;
}
#root {
    height: 100vh;
}

.fullheight {
    height: 100%;
    overflow: hidden;
}

.title {
    color: #e91363;
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
}

.btn-pink {
    background-color: #e91363;
    border: none;
}

.btn-pink:hover {
    background-color: #ed4b82;
}

.btn-pink:disabled {
    background-color: #a31545;
}

.title-black {
    color: black;
}


.chat-title {
    color: white;
    font-size: 1.5rem;
}


.text-center {
    text-align: center;
}